# symfony 
src/cache/*
src/log/*
src/lib/*/doctrine/base/*
src/lib/*/doctrine/*/base/*

# editors
*.swp
*~

# dist files
src/config/databases.yml

# configuration profiles
etc/prod

# composer
vendor/*