/*
 * webfont handling
 ***********************************/

  .wf-metrophobic-n4-active body {font-family:'Metrophobic', arial, serif;}
  .wf-metrophobic-n4-inactive body {font-family:arial, serif;}
  .wf-cuprum-n4-active h1,.wf-cuprum-n4-active .nav li a, .wf-cuprum-n4-active li a,.wf-cuprum-n4-active .newmember li a,   .wf-cuprum-n4-active h2,.wf-cuprum-n4-active h3, .wf-cuprum-n4-active {font-family:'Cuprum', arial, serif;}
  .wf-cuprum-n4-inactive h1, .wf-cuprum-n4-inactive li a,.wf-cuprum-n4-inactive h2,.wf-cuprum-n4-inactive h3, .wf-cuprum-n4-inactive {font-family:arial, serif;}
  .wf-megrim-n4-active h1.zeit,.wf-megrim-n4-active h1.geist {font-family:'Megrim', arial, serif;}
  .wf-megrim-n4-inactive h1.zeit,.wf-megrim-n4-inactive h1.geist  {font-family:arial, serif;}



/*
 * template
 ***********************************/

 body{background-image:url(../img/pattern.png); background-repeat:repeat;}
.container_14 {padding-top:10px; border-left:3px solid #000; border-right:3px solid #000; background-color:#FFF;margin-left:50px;  }

.picsofweek {text-align:center;background-image:url(../img/stripes_grey.png);padding:0px 0px 14px 0px;}
.picsofweek img {border:2px solid #0099FF;}


/*
 * Logo
 ***********************************/

  h1.zeit {font-size:5.5em; letter-spacing:2px;  color:#FFF;  background-color:#0099FF;padding:0px;text-align:center;text-transform:uppercase;}
  h1.zeit a, h1.geist a  {color:#FFF;text-decoration:none;}
  h1.zeit a:hover {color:#000!important;}
  h1.geist {color:#FFF;font-size:3.5em!important;background-color:#000;letter-spacing:2px;padding:0px;text-align:center;margin-top:-40px;text-transform:uppercase;}
  h1.zeit a:hover {color:#0099FF;}
  h1.geist a:hover {color:#0099FF;}

@keyframes rumble {
    0% {transform: rotate(0deg);}
    25% {transform: translate(2px, 0px) rotate(-1deg);}
    50% {transform: translate(0px, -2px) rotate(0deg);}
    75% {transform: translate(-2px, 0px) rotate(1deg);}
    100% {transform: translate(0px, 2px) rotate(0deg);}
}

.pagination li a:hover {
    animation: rumble .0325s infinite linear;
}

/*
 * Menu
 *********************************/

  .nav li {  transition: all .5s; list-style-type:none;border-left:2px solid #0099FF;background-color:#94d5ff; padding:8px 2px 2px 10px; margin:0px 0px 5px 0px;}
  .nav li a { color:#000; font-size:1.2em; letter-spacing:2px;text-decoration:none;text-transform:uppercase; }
  .nav li:hover { transition: all .5s;  width:80px;}
  .nav li.active  {background-color:#0099FF; color:#FFF;}
  .nav li a:hover { color:#0099FF;text-decoration:none;}

/*
 * pagination */

  .pagination h1 {font-size:2.8em;letter-spacing:3px;text-align:center;padding:10px 2px 0px 2px;background-color:#000;color:#FFF;}
  .pagination h2 a {font-size:1.4em;letter-spacing:3px;color:#000;margin-top:20px;text-decoration:none;text-transform:uppercase;}
  .pagination h2 a:hover {color:#FFF;background-image:none;background-color:#000;}
  .pagination h2 {background-image:url(../img/stripes_grey.png);text-align:center;padding:5px 5px 0px 5px;}
  .pagination li {display:inline;margin-left:0px;}
  .pagination ul li a {color:#000; text-decoration:none; font-size:1.6em; background-color:#94D5FF;padding:8px; border:0px; }
  .pagination li a:hover {color:#fff;background-color:#000;transform: scale(0.9) rotate(-20deg); }
  .pagination ul li.active a {color:#FFF;background-color:#000;background-image:none;}

/*
 *  header */

  .numero h1 {background-color:#000;font-size:2.5em; color:#FFF; text-transform:uppercase;padding:5px 5px 0px 5px;text-align:center;letter-spacing:3px; }
  .releases h2 a,.newmember h2 a,.events h2 a,.compte_rendu h2 a, .picsofweek h2 a{text-decoration:none;border-top:2px solid #94D5FF; margin-bottom:20px;font-size:1em;display:block;background-color:#0099FF;color:#fff;text-transform:uppercase;padding:5px 0px 0px 10px;}
  .releases h2 a:hover,.events h2 a:hover,.newmember h2 a:hover,.compte_rendu h2 a:hover,.picsofweek h2 a:hover {background-image:url(../img/stripes_grey.png);color:#000;border-top:2px solid #000;}
  .presentation {font-size:1.2em;padding:5px;color:#000;text-transform:uppercase;font-weight:bold;background-color:#EEE;background-image:none;border-top:2px solid #666;}
  .presentation:hover {background-image:url(../img/stripes_grey.png);}
/*
 *  listings */


  .releases, .events,.picsofweek,.compte_rendu {width:350px!important;}  .releases dd, .events dd {color:#000;border-bottom:1px dotted #ccc;margin:0px 0px 5px 0px;text-transform:lowercase;}
  .releases dt, .events dt, .compte_rendu h3 {border-bottom:2px solid #bbb;font-weight:lighter; color:#000;text-transform:uppercase;background-color:#ccc;font-size:1.3em;letter-spacing:2px;margin:20px 0px 20px 0px;padding:5px 0px 5px 10px;}
  .releases dd:hover,.events dd:hover {background-image:url(../img/stripes_grey.png);color:#000;}
  .releases a, .events a  {color:#000;font-size:1.4em;text-decoration:none;}
  .releases a:hover,.events a:hover {text-decoration:none;border-bottom:0px;}
  .releases .ville a, .releases .audio a,.events.ville a, .events .audio a {color:#0099FF;}
  .releases .image a,.releases .audio a, .releases .download a,.events .image a,.events .audio a, .events .download a {color:#94d5ff;font-size:2em;}
   .releases .image a:hover,.events .image a:hover {color:#0099FF;}
  .releases .audio a,.events .audio a {font-size:2em;}
  .releases .audio a:hover, .events .audio a:hover {color:#000;}


.compte_rendu {text-align:justify;}
.newmember ul,.compte_rendu ul{list-style-type:square;}
.compte_rendu li a {color:#000;text-decoration:none;font-size:1.2em;}
.newmember li {list-style-type:square;display:inline;}
.newmember li a {color:#000;text-transform:uppercase;font-size:1.9em;padding:10px 5px 5px 5px;border-top:3px solid #666;background-color:#EEE;text-decoration:none;font-weight:bold;}
.newmember li a:hover {color:#eee; background-color:#000;}
