/*
 * This file is part of Musiques Incongrues.
 *
 * Musiques Incongrues is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Musiques Incongrues is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Musiques Incongrues.  If not, see <http://www.gnu.org/licenses/>.
 */


/*
 * webfont handling
 ***********************************/

  .wf-metrophobic-n4-active body {font-family:'Metrophobic', arial, serif;}
  .wf-metrophobic-n4-inactive body {font-family:arial, serif;}
  .wf-cuprum-n4-active h1,.wf-cuprum-n4-active .newmember li a,	.wf-cuprum-n4-active h2,.wf-cuprum-n4-active h3, .wf-cuprum-n4-active {font-family:'Cuprum', arial, serif;}
  .wf-cuprum-n4-inactive h1,.wf-cuprum-n4-inactive .about, .wf-cuprum-n4-inactive li a,.wf-cuprum-n4-inactive h2,.wf-cuprum-n4-inactive h3, .wf-cuprum-n4-inactive {font-family:arial, serif;}
  .wf-megrim-n4-active .zeit,.wf-megrim-n4-active .geist {font-family:'Megrim', arial, serif;}
  .wf-megrim-n4-inactive h1.zeit,.wf-megrim-n4-inactive h1.geist  {font-family:arial, serif;}		

/*
 * template 
 ***********************************/
 
body 
{
background: linear-gradient(-45deg, #000 50%, #0099FF 50%);
background-size: 80px 80px;	
background-repeat:repeat;
}


.sidebar
{
border-right:1px solid #eee;
padding-right:15px;
width:170px!important;
  
}
.content 
{margin-left:5px;}

.container_14 
{
padding-top:10px;
border-left:3px solid #000;
border-right:6px solid #000;
background-color:#FFF;
margin-left:80px;
padding-bottom:20px;
}


/************************************
 * 			SIDEBAR                 *
 ************************************/

 /* logo
  **********/
 
  a.zeit 
  {
  font-size:3em;
  font-weight:900;
  background-color:#0099FF;
  }
  
  a.geist 
  {
  font-size:2em;
  font-weight:bold;
  background-color:#000;
  margin-top:-25px;
  }
  
  a.zeit , a.geist 
  {
  color:#FFF;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  display:block;
  }
  
  h1.logo 
  {
  transition: all 0.8s;
  box-shadow: 4px 4px 2px #EEE;
  }
 
  h1.logo:hover {transform: rotate(360deg) scale(0.4) ;}

  
 /* navbar
  **********/
  
  .descr 
  {
  font-size:1.2em;
  letter-spacing:1px;
  text-transform:uppercase;
  background-color:#DDD;
  border-top:3px solid #000;
  box-shadow: 4px 4px 2px #EEE;
  color:#000;
  padding:10px 5px 5px 5px;
  text-align:left;
  }
  
  .descr a 
  {
  text-decoration:none;
  color:#000;
  }
  
  .descr a:hover 
  {
  background-color:#000;
  color:#FFF;
  padding:1px;
  }
  
  .nav li {  list-style-type:none; }

  .nav li a 
  {
  color:#000;
  font-size:1.2em;
  letter-spacing:2px;
  text-decoration:none;
  text-transform:uppercase;
  background-color:#94d5ff;
  padding:8px 2px 2px 10px;
  margin:0px 0px 5px -30px;
  transition: all 0.5s; 
  box-shadow: 2px 2px 1px #EEE;
  width:160px;
  display:block;
  }
  
  .nav li a:hover 
  {
  transition: all .2s;
  width:130px;
  color:#000;

  }
  
  .nav li.active  {background-color:#0099FF; color:#FFF;}
 
 /* archives
  **********/

  .pagination h1 
  { 
   box-shadow: 2px 2px 1px #EEE;
  font-size:2.5em;
  letter-spacing:2px;
  text-align:center;
  padding:10px 2px 0px 2px;
  background-color:#000;
  color:#FFF;
  text-transform:uppercase;
  }
  
  .pagination h2.next a 
  {
  font-size:2.2em;
  letter-spacing:2px;
  color:#000;
  text-decoration:none;
  text-transform:uppercase;
  background-color:#BBB;
  padding:20px 10px 10px 10px;
  text-align:center;
  display:block;

  }

  .pagination h2.next 
  {
    margin-top:-20px;
  }
  .pagination h2.previous a 
  {
    display:block;

  font-size:0.7em;
  letter-spacing:2px;
  color:#000;
  text-decoration:none;
  text-transform:uppercase;
  background-color:#DDD;
  padding:10px 24px 5px 24px;
  text-align:center;
    transition: all .2s; 

  }
  
  .pagination h2.previous a:hover 
  {
    font-size:1em;
    background-color:#000;
    color:#FFF;

  }

  
  .pagination h2.next a:hover
  {
  color:#FFF;
  font-size:2.5em;
  background-image:none;
  background-color:#000;
  transition: all .2s; 
  }
  
  .pagination li {display:inline;margin-left:0px;}
  .pagination ul li a {color:#000; text-decoration:none; font-size:1.6em; background-color:#94D5FF;padding:8px; border:0px; }
  .pagination li a:hover {color:#fff;background-color:#000; }
  .pagination ul li.active a {color:#FFF;background-color:#000;background-image:none;}


/************************************
 * 			CONTENT                 *
 ************************************/
	 
 /* header
  **********/
  
  .numero h1 {
  background-color:#000;
  font-size:1.7em;
  color:#FFF;
  text-transform:uppercase;
  padding:5px 5px 0px 5px;
  text-align:center;
  box-shadow: 4px 4px 2px #EEE;
  transition:.7s linear;
  }

 .content h2 a 
  {
  text-decoration:none;
  box-shadow: 4px 4px 2px #EEE;
  border-top:2px solid #94D5FF; 
  margin-bottom:20px;
  font-size:0.9em;
  display:block;
  background-color:#0099FF;
  color:#fff;
  text-transform:uppercase;
  padding:5px 0px 0px 10px;
  }
    
  .content h2 a:hover 
  {
	background: 
	linear-gradient(315deg, #EEE 25%, transparent 25%) -50px 0,
	linear-gradient(225deg, #EEE 25%, transparent 25%) -50px 0,
	linear-gradient(135deg, #EEE 25%, transparent 25%),
	linear-gradient(45deg, #EEE 25%, transparent 25%);	
	background-size: 20px 20px;
	background-color: #FFF;
	color:#000;
    border-top:2px solid #000;
  }
  
  .presentation 
  {
  font-size:1.2em;
  padding:5px;
  color:#000;
  text-transform:uppercase;
  font-weight:bold;
  background-image:none;
  border-top:2px solid #666;
  transition: all .0s;
  background-color: #f7f4f4;
  }	
  
  .presentation:hover 
  {
  background-color:#FFF;
  background-image:none;
  box-shadow: 2px 2px 1px #EEE;
  transition: background 1s ease-in;
  }
  
	
  .presentation a,.descr a 
  {
  background-color:#0099FF;
  color:#FFF;
  text-decoration:none;
  padding:5px 2px 2px 2px;
  
  }
  
  .presentation a:hover, .descr a:hover
  {
  background-color:#000;
  color:#FFF;
  padding:5px 2px 2px 2px;
  }

/*
 *  listings */ 
 
  .releases, .events,.picsofweek,.compte_rendu {width:350px!important;} 
  .releases a, .events a  {color:#000;font-size:1.16em;text-decoration:none;}
  .releases .ville a, .releases .audio a,.events.ville a, .events .audio a {color:#0099FF;}
  .releases .image a,.releases .audio a, .releases .download a,.events .image a,.events .audio a, .events .download a {color:#0099FF;font-size:1.5em;}
  .releases .image a:hover,.events .image a:hover {color:#0099FF;}
  .releases .audio a:hover, .events .audio a:hover {color:#000;}

.releases, .compte_rendu, .events,.picsofweek
{
    transition:.7s ease-in;
}

.releases:hover,.compte_rendu:hover
{
width:700px!important;
margin-right:-360px;
padding:0px 0px 0px 0px;
box-shadow:none;
z-index:2000;
background-color:#EEE;
}

.events:hover,.picsofweek:hover 
{
width:700px!important;
margin-left:-360px!important;
background-color:#EEE;
padding:0px 0px 0px 0px;
}


.releases dt, .events dt, .compte_rendu h3 {
border-bottom:2px solid #bbb;
color:#000;
text-align:right;
text-transform:uppercase;
background-color:#ccc;
font-size:1.3em;
margin:20px 0px 20px 0px;
padding:5px 10px 5px 10px;
}	

.releases dd,.events dd
{
text-transform:capitalize;
padding:5px;
color:#000;
border-bottom:1px dotted #ccc;
}

.releases dd:hover,.events dd:hover 
{
background-color:#FFF;
color:#000;
border-bottom:1px dotted #000;
}

.newmember ul,.compte_rendu ul{list-style-type:square;}

 /* Compte Rendu
  **************/
 
  .compte_rendu li a {color:#000;text-decoration:none;font-size:1.2em;}

 /* New Member
  ***************/
  
 .newmember {margin-top:10px;}
 .newmember li {list-style-type:square;display:inline;}
 .newmember li a {color:#000;text-transform:uppercase;font-size:1.9em;padding:10px 5px 5px 5px;border-top:3px solid #666;background-color:#EEE;text-decoration:none;font-weight:bold;}
 .newmember li a:hover {color:#eee; background-color:#000;}


 /* Pics Of Weeks
  ***************/
  
 .picsofweek {
 text-align:center;


 padding:0px 0px 14px 0px;
 }  
 
 .picsofweek img 
 {
 border:1px solid #000;
   box-shadow: 4px 4px 2px #EEE;
}


/* animation 
  
 .boom {
    animation-name: boom;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
}
 
 @keyframes boom {
  0% {
     transform: rotate(-90deg) scale(4);
    }

    100% {
        transform: rotate(0deg) scale(1) ;;

		}
} 
*/

/* 
 * FOOTER
 ****************/
p.about 
{
background-color:#000!important;
text-transform:uppercase;
color:#FFF;

font-size:1em;
padding:5px;
float:right;
}

.about2 
{
display:none;
}

.about:hover 
{
display:visible!important;
}

 .footer 
 {
text-align:center;
float:right;
padding:4px 8px 0px 12px;
font-size:1em;
/*
background-color:#EEE;	
border-top:2px solid #666;
*/
margin-right:0px;
}

 .footer p 
 {
 padding-top:4px; 
 }
 
 .footer a 
 {
 color:#000;
 text-decoration:none;
 font-weight:bold;
 }
 
 .footer a:hover 
 {
 background-color:#000;
 color:#FFF;
border-bottom:1px dotted #000; }
